@use '../abstracts/colors';
@use '../abstracts/fonts';

.input {
    background: map-get(colors.$colors, 'gray', '50');
    border-radius: 2rem;
    color: map-get(colors.$colors, 'gray', '900');
    padding: 0.5rem 1rem;
}

.input__group {
    display: flex;
    flex-direction: column;
}
