@use '../abstracts/colors';

.results {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    &__group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__value {
        color: map-get(colors.$colors, 'green', '60');
        font-size: 2rem;
        font-weight: 700;
    }
}
