@use '../abstracts/colors';

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: map-get(colors.$colors, 'gray', '90');
    color: map-get(colors.$colors, 'gray', '10');
    margin: 0;
}

button,
input {
    border: none;
    outline: none;
    padding: 0;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}
